   nav { background-color: #0fffff;
  border-radius: 6px;
        width: 600px;
        display: flex;
}

  
 body  { 
background: rgb(34,193,195);
background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 50%, transparent), radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%), transparent; 
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    height: 100vh;
}
  
 ul li {
  list-style-type: none;
  text-align: center;
   width: 85%;
    height: 20px;
    justify-content: center;
    align-items: center;
 }
  
 li {border-bottom: 1px dashed black;
 padding: 5px;}


nav ul li {
  display: inline-block;
  padding: 10px;
}
ul li:hover {
  background-color: #eee;
}
