   nav {
  border-radius: 6px;
           display: flex;
  justify-content: center;
      margin: 0;
  align-items: center;
      background: rgba(5, 139, 140, 0.7);
 overflow: hidden;
 height: 100%;
}

img, nav {
   margin: 0;
   height: 300px;
   padding: 0;
}

section {
 height: 100%;
 overflow: hidden;
 position: absolute;
}


  
 body  { 
background: rgb(34,193,195);
background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 50%, transparent), radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%), transparent; 
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    height: 100vh;
     display: flex;
  justify-content: center;
  align-items: center;
}
  
 ul li {
  list-style-type: none;
  text-align: center;
   width: 85%;
    height: 20px;
    background-color: #19d1d1;
 }
  
 li {border-bottom: 1px dashed black;
 padding: 5px;}

a {
color: black;
   text-decoration: none;
   font-family: helvetica;
}


nav ul li {
  display: inline-block;
  padding: 10px;
}
ul li:hover {
  background-color: #eee;
}
